BasedOnStyle: WebKit

AlignAfterOpenBracket: AlwaysBreak
AllowShortEnumsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Allman
BreakBeforeInheritanceComma: true
BreakConstructorInitializersBeforeComma: true
ColumnLimit: 80
ExperimentalAutoDetectBinPacking: true
FixNamespaceComments: true
IndentPPDirectives: AfterHash
InsertNewlineAtEOF: true
LineEnding: DeriveCRLF
PenaltyBreakBeforeFirstCallParameter: 0
SpaceBeforeCpp11BracedList: false
SpaceInEmptyBlock: false
Standard: c++20
TabWidth: 4
UseCRLF: true
